aside {
  position: absolute;
  right: 0;
  width: 80%;
  height: 100vh;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 40px 40px;
}

.mobile-menu-header {
  position: initial;
  margin-bottom: 20px;
}

.close-icon {
  position: absolute;
  top: 20px;
  background: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  left: -20px;
  color: black;
}

.mobile-menu-nav ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.mobile-menu-nav ul li {
  list-style: none;
  color: black;
  font-size: 30px;
}
