.secao1 {
  background: url(../../assets/banner.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  min-height: 700px;
  display: flex;
  align-items: center;
}
.secao1 .container-secao1 {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 330px;
  justify-content: space-between;
}
.secao1 .titulo {
  width: 500px;
}
.secao1 .titulo h1 {
  color: #000;
  font-size: 50px;
  text-align: start;
}
.secao1 .subtitulo {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
}
.secao1 .subtitulo img {
  width: 40px;
}
.secao1 .underscore {
  text-decoration: underline;
  color: #009ee2;
}
.secao1 .botao {
  padding: 10px 10px;
  background-color: #005ae2;
  border-radius: 10px;
  width: 190px;
  cursor: pointer;
  text-align: center;
}
.secao1 .botao a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
