@import "./css/Header.css"; /*  header */
@import "./css/Footer.css"; /*  footer */

@import "./css/Secao1.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  margin: 0 auto;
  text-align: center;
}


.container-alunos{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #000;
  height: 73vh;
  justify-content: center;
}